[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
certifi = "*"
firebase-admin = "*"
more-itertools = "*"

[dev-packages]

[requires]
python_version = "3.8"
